.netrwhist
nvim/plugin/packer_compiled.vim
nvim/plugin/packer_compiled.lua
nvim/session/*
nvim/snippets/*
nvim/spell/en.utf-8.add.spl
Session.vim
zsh/.zcompdump
zsh/history
zsh/fail.backup
result
.box
.vagrant
